@import "tailwindcss";

/* Configuração de Dark Mode da v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* Variáveis do Tema Base */
@theme {
  --color-aura-primary: #6366f1;
  --color-aura-secondary: #a855f7;
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

.dark {
  --background: #09090b; /* zinc-950 */
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}